html {
    background-color: #14110f;
}

h1 {
    color: #e6af2e;
    font-size: 40px;
    padding: 5px;
}

h2 { 
     color: #fefffe;
     padding: 5px;
}

p {
    color: #fefffe;
    font-size: 18px;
    padding: 5px;
}

img {
    padding: 5px;
    width: 25%;
    height: auto;
}

p {
    ...
}

.highlight {
    ...
}

#navigation {
    ...
}
